# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.sqlite3
*.db

# Distribution / packaging
build/
comp/
dist/
*.egg-info/
.eggs/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
